:root {
    --stormblue: rgb(0, 14, 94);
    --sunshineyellow: rgb(255, 255, 0);
    --overcastgray: rgb(121, 121, 121);
}

/* .custom-card-deck {
    display: flex;
    justify-content: space-between;
} */

.custom-btn {
    background-color: var(--deepblue);
    
}

/* .custom-card {
    background-color: var(--deepblue);
} */

.custom-jumbo {
    text-align: left;
}

.card-header-custom {
    background-color: var(--stormblue);
}

img {
    height: 100px;
    width: 100px;
}