:root {
    --stormblue: rgb(0, 14, 94);
    --sunshineyellow: rgb(255, 255, 0);
    --overcastgray: rgb(121, 121, 121);
}

/* .custom-card-deck {
    display: flex;
    justify-content: space-between;
} */

.custom-btn {
    background-color: var(--deepblue);
    
}

/* .custom-card {
    background-color: var(--deepblue);
} */

.custom-jumbo {
    text-align: left;
}

.card-header-custom {
    background-color: var(--stormblue);
}

img {
    height: 100px;
    width: 100px;
}

.extreme {
    color: violet;
    font-weight: bold;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

.veryhigh {
    color: red;
    font-weight: bold;
    text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
}

.high {
    color: orange;
    font-weight: bold;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

.moderate {
    color: yellow;
    font-weight: bold;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

.low {
    background-color: green;
    border-radius: 5px;
    color: white;
    padding: 6px;
    font-weight: bold;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;

}