:root {
    --deepblue: #8991ff;
}

/* .custom-card-deck {
    display: flex;
    justify-content: space-between;
} */

.custom-btn {
    background-color: var(--deepblue);
    
}

/* .custom-card {
    background-color: var(--deepblue);
} */